<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="johnmendes.com.example.magiclifecounter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MagicLifeCounter">
        <activity
            android:name=".activitys.MestreActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.PdfActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.ClasseSelecionadaActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.ClassesActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>